<body>
    <h1>
        ABOUT ME
    </h1>
    <p>
        Hi! My name is Cynthia, and I'm a junior studying Computer Science and Peace, War, and Defense (with oxford comma) and minoring in Chemistry at UNC Chapel Hill. 
        I'm interested in using technology to understand and help people improve the world around us. 
        When I'm not coding, I can be found doing a number of things: running through forests, reading (too?) many <a href="https://www.goodreads.com/user/show/23255835-cynthia">books,</a> volunteering, watching the Great British Bake Off (best show in the world), or making sock monkeys.
        For a more comprehensive look into my life, check out my resume!
    </p>
    <a href="../../assets/shortres20.pdf">click here</a>
</body>